{
    "copado_sf_instance_url": "https://your-org.my.salesforce.com",
    "copado_cicd_base_url": "",
    "copado_crt_base_url": "https://eu-robotic.copado.com",
    "copado_ai_base_url": "https://copadogpt-api.robotic.copado.com",
    "default_pipeline": "",
    "default_environment": "",
    "crt_project_id": "",
    "crt_org_id": "",
    "ai_org_id": "",
    "ai_workspace_id": "",
    "mock_mode": true
}
